<div class="container">
  <h3 align="center">Select a Payment Method</h3>
  <hr>
  <div class="row" align="center">
    <div class="col-sm">
      <img src="assets/img/paypal.png" class="rounded" alt="Responsive image" style="width:75%" routerLink="/paypal">
      <br><br>
    </div>
    <div class="col-sm">
      <img src="assets/img/cards.png" class="rounded" alt="Responsive image" style="width:75%" routerLink="/cards">
      <br><br>
    </div>
    <div class="col-sm">
      <img src="assets/img/zelle.png" class="rounded" alt="Responsive image" style="width:75%" routerLink="/zelle">
      <br><br>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-sm">
      <img src="assets/img/ach.png" class="rounded" alt="Responsive image" style="width:75%" routerLink="/ach">
      <br><br>
    </div>
    <div class="col-sm">
      <img src="assets/img/rtp.jpg" class="rounded" alt="Responsive image" style="width:75%" routerLink="/rtp">
      <br><br>
    </div>
    <div class="col-sm">
      <img src="assets/img/upi.png" class="rounded" alt="Responsive image" style="width:75%" routerLink="/upi">
      <br><br>
    </div>
  </div>
</div>
