<div class="jumbotron text-xs-center" align="center">
  <h2>You have got money!</h2>
  <h1 class="display-4">${{randomBalance}}</h1>
</div>
<div class="container">
  <h3 align="center">Verify your Details</h3>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)" novalidate>
    <p style="background-color: pink">{{invalidMessage}}</p>
    <div class="form-group">
      <label>Payment ID</label><br>
      <input class="form-control" id="paymentID" formControlName="paymentID" type="text" autocomplete="paymentID" paymentID/>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>First Name</label><br>
          <input class="form-control" id="firstName" formControlName="firstName" placeholder="Brandon" type="text" autocomplete="firstName" firstName/>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Last Name</label><br>
          <input class="form-control" id="lastName" formControlName="lastName" placeholder="Castagna" type="text" autocomplete="lastName" lastName/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Alias</label><br>
    <div class="input-group ">
      <select class="input-group-addon form-control col-4" style="background-color: #ecf0f1" id="type" formControlName="type" autocomplete="type" type>
        <option value="" disabled selected>Choose...</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
      </select>
      <input class="form-control col-8" id="alias" formControlName="alias" type="text" autocomplete="alias" alias/>
    </div>
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
