<div class="container">
  <div class="col-sm" align="center">
    <img src="assets/img/paypal.png" class="rounded" alt="Responsive image" style="width:50%">
    <br><br>
  </div>
  <label>Set Payment Amount</label><br>
  <input class="form-control" type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
  <br><br>
  <div align="center" id="paypal-button-container"></div>
  <div align="center">
    <div id="paypal-button-container"></div>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="">Cancel</button>
  </div>
</div>
