<div class="container">
  <div class="col-sm" align="center">
    <img src="assets/img/paypal.png" class="rounded" alt="Responsive image" style="width:50%">
    <br><br>
    <p class="lead"><strong>Amount: </strong></p>
    <h5 class="display-4">${{value}}</h5>
    <br><br>
  </div>

  <div align="center" id="paypal-button-container"></div>
  <div align="center">
    <div id="paypal-button-container"></div>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
  </div>
</div>
