<div class="container">
  <h3 align="center"> Pay with Cards</h3>
  <div class="col-sm" align="center">
    <img src="assets/img/cards-horizontal.png" class="rounded" alt="Responsive image" style="width:75%">
    <br><br>
    <p class="lead"><strong>Your Balance: ${{value}}</strong></p>
  </div>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit(paymentForm)" novalidate>
    <p style="background-color: pink">{{invalidMessage}}</p>
    <div class="form-group">
      <label>Name on Card</label><br>
      <input class="form-control" id="name" formControlName="name" type="text" autocomplete="name" name/>
    </div>
    <div class="form-group">
      <label>Card Number</label><br>
      <input class="form-control" id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber/>
    </div>
    <div class="form-group">
      <label>Expiration Date</label><br>
      <input class="form-control" id="cc-exp-date" formControlName="expirationDate" placeholder="MM/YYYY" type="tel" autocomplete="cc-exp" ccExp/>
    </div>
    <div class="form-group">
      <label>CVC</label><br>
      <input class="form-control" id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc/>
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary">Submit</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" routerLink="">Cancel</button>
    </div>
  </form>
</div>
